
# you have to specify your own data

LOGIN="user-1234567"
PASSWORD="something8"
SESSIONS_PARAMS='?&id=123456&int_id=123456&a=987&act=seance'

# How many invokes save
# ROTATE_SIZE=100

# additionally you can specify user agent
#UA= user agent
